<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Sección de información del perfil -->
  <div class="profile-header">
    <img src="assets/profile-picture.jpg" alt="Foto de perfil" class="profile-pic">
    <h2>JuanMan_93</h2>
    <p>Desarrollador | NFT Enthusiast</p>
  </div>

  <!-- Estadísticas del perfil (opcional) -->
  <div class="profile-stats">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>50</h3>
          <p>Posts</p>
        </ion-col>
        <ion-col>
          <h3>1200</h3>
          <p>Followers</p>
        </ion-col>
        <ion-col>
          <h3>300</h3>
          <p>Following</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Galería de fotos -->
  <ion-grid class="photo-gallery">
    <ion-row>
      <ion-col size="4">
        <img src="assets/photo1.jpg" alt="Foto 1" class="gallery-photo">
      </ion-col>
      <ion-col size="4">
        <img src="assets/photo2.jpg" alt="Foto 2" class="gallery-photo">
      </ion-col>
      <ion-col size="4">
        <img src="assets/photo3.jpg" alt="Foto 3" class="gallery-photo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <img src="assets/photo4.jpg" alt="Foto 4" class="gallery-photo">
      </ion-col>
      <ion-col size="4">
        <img src="assets/photo5.jpg" alt="Foto 5" class="gallery-photo">
      </ion-col>
      <ion-col size="4">
        <img src="assets/photo6.jpg" alt="Foto 6" class="gallery-photo">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio" routerLink="/menu">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ventas" routerLink="/ventas">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compras" routerLink="/compras">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cartera" routerLink="/cartera">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Cartera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="log-out" routerLink="/login">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Cerrar Seción</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
