<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio" style="--color-selected: #ff0000; --color: #ff0000;">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="galeria" style="--color-selected: #ff0000; --color: #ff0000;">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Venta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="targets" style="--color-selected: #ff0000; --color: #ff0000;">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Comprar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" style="--color-selected: #ff0000; --color: #ff0000;">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
