<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
  </ion-tab-button>

    <ion-tab-button tab="galeria">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Venta</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="targets">
    <ion-icon name="card-outline"></ion-icon>
    <ion-label>Pago</ion-label>
</ion-tab-button>

  <ion-tab-button tab="login">
    <ion-icon name="log-out-outline"></ion-icon>
    <ion-label>Cerrar Sesión</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>