<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Foto en Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="selectedPhoto" class="photo-card">
    <ion-card-header class="photo-header">
      <ion-card-title>{{ selectedPhoto.seller }}</ion-card-title>
      <ion-card-subtitle>Precio: ${{ selectedPhoto.price }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img *ngIf="selectedPhoto.webviewPath" [src]="selectedPhoto.webviewPath" class="photo-img"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>