<ion-header>
  <ion-toolbar style="--background: #9e2a2f;">
    <center><ion-title>BIENVENIDO A EMOJINFT</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <!-- Logo 2 veces más grande -->
  <img src="assets/imagenes/Logo.png" alt="Foto de perfil" class="fotoperfil grande" style="width: 600px; height: auto;">

  <!-- Espaciado para separar el logo del botón -->
  <br>

  <!-- Botón COMENZAR debajo del logo -->
  <ion-button size="large" (click)="onLogout()" 
              style="--background: #9e2a2f; --border-radius: 12px; --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    COMENZAR
  </ion-button>

</ion-content>
