<ion-header>
  <ion-toolbar color="primary">
    <ion-grid id="about">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img src="assets/imagenes/Logo.png" alt="Foto de perfil" class="fotoperfil grande">
          <h2>Bienvenido, {{user.email}}</h2>
          <p class="slogan">"¡Descubre, colecciona y vende los emojis NFTs más exclusivos!"</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of purchasedPhotos">
        <ion-card>
          <img [src]="photo.webviewPath" alt="Foto comprada" />
          <ion-card-header>
            <ion-card-title>Precio: {{ photo.price }}$</ion-card-title>
            <ion-card-subtitle>Vendedor: {{ photo.seller }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>





