.fotoperfil.grande {
    width: 120px; /* Nuevo tamaño */
    height: 120px;
  }
  
  img.galeria {
    width: 100%; /* Hacemos que la imagen ocupe el 100% del ancho del ion-col */
    height: auto; /* Para mantener la proporción */
  }
  
  ion-card {
    padding: 0;
    margin-bottom: 16px; /* Espacio entre las tarjetas */
  }
  
  ion-col {
    margin-bottom: 16px; /* Espacio entre las columnas */
  }
  
  .slogan {
    font-size: 16px;
    font-style: italic;
  }
  
  ion-card-header ion-card-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  ion-card-header ion-card-subtitle {
    font-size: 12px;
  }
  