<ion-header>
  <ion-toolbar>
    <ion-grid id="about">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img src="{{usuario.fotoPerfil}}" alt="" class="fotoperfil">
          <span>{{user.email}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid> <!--Contenido de Galeria-->
    <ion-row> <!--Fila 1-->
      <ion-col>
        <img src="assets/imagenes/DonkeyKongCountry.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/DonkeyKongCountry.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/DonkeyKongCountry.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/DonkeyKongCountry.jpg" alt="">
      </ion-col>
    </ion-row>
    <ion-row> <!--Fila 2-->
      <ion-col>
        <img src="assets/imagenes/Sonic.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/Sonic.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/Sonic.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/Sonic.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row> <!--Fila 3-->
      <ion-col>
        <img src="assets/imagenes/pacman.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/pacman.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/pacman.jpg" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imagenes/pacman.jpg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


